// use twitter bootstrap
@import "bootstrap.less";

#footer {padding:10px;border-bottom-style:solid;border-top-style:solid;border-width:1px;border-color:#eee}
select {width:85px;height:100%}
#message {padding:10px;}
.b {font-weight:bold;}
#file {height:100%;}
//#linewrap {height:100%;}