!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title snucode
  body
    #content
    #footer
      #showoptions.b(style='display:none')
        a#solink(href='#')
          | Options
      #options
        span#hideoptions.b
          &nbsp;
          a#holink(href='#')
            | Hide Options
        | &nbsp;&nbsp;&nbsp;Syntax:&nbsp;
        select#modes
        | &nbsp;&nbsp;&nbsp;&nbsp;Theme:&nbsp; 
        select#themes    
          option(selected, value='default')
            | default
          option(value='night')
            | night
          option(value='monokai')
            | monokai
          option(value='neat')
            | neat
          option(value='elegant')
            | elegant
          option(value='cobalt')
            | cobalt
          option(value='eclipse')
            | eclipse
        | &nbsp;&nbsp;&nbsp;&nbsp;Wrap lines:&nbsp;
        input#linewrap(type='checkbox')
        span#filewrapper
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Open File:&nbsp;
          input#file(type='file')
    p#message
      | Welcome to snucode, a simple collaborative realtime
      | editor with syntax highlighting!
      span.b Share the URL of this page with your co-workers to get started.
      br
      | This webapp was built using Node.js
      | and the realtime framework 
      a(href="https://github.com/socketstream/socketstream")
        | SocketStream.
      | Get the code on
      a(href="https://github.com/werg/snucode")
        | github
      | and follow us on twitter:
      a(href="http://twitter.com/werg")
        | &#64;werg,
      a(href="http://twitter.com/snucode")
        | &#64;snucode.
      br
      | This is a minimal release, further features 
      | are planed once I figure out how people are using it.
      | Please let me know if there's features you'd like to see.